<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header class="row">
        <div class="col-3">
        </div>
        <div class="col-4">
          Dad Jokes for the everyday dad.
        </div>
        <div class="col-5 links">
          <%= link_to 'Contribute', new_joke_path %>
           

        </div>
      </header>

      <br class="clear" />

      <div class="container">
    <%= yield %>
    <br />
    <br />
    <div class="trigger">
      <%= link_to "lol, another!", root_path, class: 'next-quote' %>
    </div>


  </body>
</html>
